<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Enterprise</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a href="#" class="navbar-brand">Add Enterprise</a>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Enterprises}">Enterprises</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/Enterprises/New}">Add Enterprise</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-log-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center">New Enterprise</h1>
            <div class="card-body">
                <form th:action="@{/save}" th:object="${enterprise}" method="POST">
                    <div class="mb-3">
                        <label for="name">Name:</label>
                        <input th:field="*{name}" type="text" class="form-control" id="name" required maxlength="50">
                    </div>
                    <div class="mb-3">
                        <label for="direction">Direction:</label>
                        <input th:field="*{direction}" type="text" class="form-control" id="direction" required  maxlength="50">
                    </div>
                    <div class="mb-3">
                        <label for="phone">Phone:</label>
                        <input th:field="*{phone}" type="text" class="form-control" id="phone" required  maxlength="50">
                    </div>
                    <div class="mb-3">
                        <label for="nit">NIT:</label>
                        <input th:field="*{NIT}" type="text" class="form-control" id="nit" required  maxlength="50">
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script></script>
</body>
</html>